In [32]:
import pandas as pd
import pandas_datareader.data as web
import pandas_datareader
import datetime

from iexfinance import get_available_symbols,
import iexfinance

SyntaxError: trailing comma not allowed without surrounding parentheses (<ipython-input-32-716574ad4dce>, line 6)

## Here is where we test querying the IEX api

In [33]:
# For testing, we're grabbing 1` years worth of stock data

start = datetime.datetime(2016,1,1)

end = datetime.datetime(2019, 1, 1)

In [34]:
f = web.DataReader('MSFT', 'iex', start, end)

In [35]:
DF =get_available_symbols()

In [41]:
stocko = pd.DataFrame(DF)
stockSymbols = stocko['symbol'].unique()
Stock([stockSymbols[13],stockSymbols[14]], output_format='pandas').get_quote().transpose()
Stock(stockSymbols[13],output_format="pandas").get_peers()

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,open,openTime,peRatio,previousClose,primaryExchange,sector,symbol,week52High,week52Low,ytdChange
AAPL,33192603,close,-0.38,-0.00222,170.42,1550264400567,Apple Inc.,170.42,1550264400567,-0.04,...,171.47,1550241000795,14.36,170.8,Nasdaq Global Select,Technology,AAPL,233.47,142,0.081563
AAT,193187,close,0.32,0.00732,44.05,1550264523067,American Assets Trust Inc.,44.05,1550264523067,0,...,43.89,1550241001904,21.08,43.73,New York Stock Exchange,Real Estate,AAT,44.25,30.62,0.128185

<bound method Series.unique of 0              A
1             AA
2           AAAU
3           AABA
4            AAC
5           AADR
6            AAL
7           AAMC
8           AAME
9            AAN
10          AAOI
11          AAON
12           AAP
13          AAPL
14           AAT
15           AAU
16          AAWW
17          AAXJ
18          AAXN
19            AB
20           ABB
21          ABBV
22           ABC
23          ABCB
24          ABDC
25          ABEO
26         ABEOW
27          ABEV
28           ABG
29          ABIL
          ...
8703         ZTS
8704        ZUMZ
8705         ZUO
8706         ZVV
8707        ZVVV
8708       ZVZZT
8709       ZWZZT
8710       ZXIET
8711       ZXZZT
8712        ZYME
8713        ZYNE
8714        ZYXI
8715     BTCUSDT
8716     EOSUSDT
8717     ETHUSDT
8718     BNBUSDT
8719     ONTUSDT
8720     BCCUSDT
8721     ADAUSDT
8722     XRPUSDT
8723    TUSDUSDT
8724     TRXUSDT
8725     LTCUSDT
8726     ETCUSDT
8727    IOTAUSDT
8728     ICXUSDT
8729     NEOUSDT
8730     VENUSDT
8731     XLMUSDT
8732    QTUMUSDT
Name: symbol, Length: 8733, dtype: object>